pyodbc==4.0.39
pandas==2.2.2
numpy==1.26.4
customtkinter==5.2.2
matplotlib==3.9.0
seaborn==0.13.2
pillow==10.3.0
openpyxl==3.1.4
schedule==1.2.1
python-dotenv==1.0.1
fastapi==0.136.1
uvicorn[standard]==0.46.0
requests==2.33.1
